*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cpp
!*.lds
!*.yml
!.gitignore
!Dockerfile
!README.md
!Kconfig
!.github/workflows/*.yml
!scripts/*.sh
!scripts/*.py
!tools/perf_profile.py
!tools/perf_profile/**
!tools/ref-so-runner/*.sh
!tools/ref-so-runner/*.patch
!scripts/checkpoint_example/*
!docs/perf_profile.md
__pycache__/
*.pyc
include/config
include/generated
build
.vscode
.idea
