[submodule "ready-to-run"]
	path = ready-to-run
	url = https://github.com/OpenXiangShan/ready-to-run.git
[submodule "resource/simpoint/simpoint_repo"]
	path = resource/simpoint/simpoint_repo
	url = https://github.com/shinezyy/SimPoint.3.2-fix.git
[submodule "resource/nanopb"]
	path = resource/nanopb
	url = https://github.com/nanopb/nanopb
