*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cpp
!*.lds
!.gitignore
!Dockerfile
!README.md
!Kconfig
!.github/workflows/ci.yml
!scripts/*.sh
!scripts/checkpoint_example/*
include/config
include/generated
build
.vscode
.idea
