menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x08048000 if MODE_USER
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x8000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0 if MODE_USER
  default 0x100000

config USE_MMAP
  bool "Allocate guest physical memory with mmap()"
  default y

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

config MEM_COMPRESS
  depends on MODE_SYSTEM && !DIFFTEST
  bool "Initialize the memory with a compressed gz file"
  default n
  help
    Must have zlib installed.

endmenu #MEMORY
