CONFIG_ISA_mips32=y
CONFIG_CC_CLANG=y
CONFIG_CC_O3=y
CONFIG_CC_LTO=y
CONFIG_DEBUG=y
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_MEM_RANDOM is not set
# CONFIG_VGA_SHOW_SCREEN is not set
# CONFIG_HAS_DISK is not set
# CONFIG_RT_CHECK is not set
# CONFIG_PERF_OPT is not set
# CONFIG_BB_COUNT is not set
# CONFIG_EHELPER_COUNT is not set
