CONFIG_ISA_riscv64=y
CONFIG_CLINT_MMIO=0x38000000
CONFIG_RV_CSR_TIME=y
CONFIG_RV_SV48=y
CONFIG_TVAL_EX_II=y
CONFIG_USE_XS_ARCH_CSRS=y
# CONFIG_RVV_AGNOSTIC is not set
CONFIG_RV_ZCB=y
CONFIG_RESERVATION_SET_WIDTH=6
# CONFIG_CC_LTO is not set
CONFIG_MSIZE=0x200000000
CONFIG_STORE_LOG=y
CONFIG_RESET_FROM_MMIO=y
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_MEM_RANDOM is not set
# CONFIG_HAS_UART16550 is not set
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
# CONFIG_HAS_SDCARD is not set
CONFIG_HAS_FLASH=y
CONFIG_FLASH_PRESET_CONTENT="0x0010029b,0x01f29293,0x00028067"
CONFIG_FLASH_SIZE=0x100000
CONFIG_SHARE=y
CONFIG_DIFFTEST_REF_FOR_GEM5=y
CONFIG_GUIDED_TVAL=y
CONFIG_LARGE_COPY=y
# CONFIG_DETERMINISTIC is not set
