CONFIG_ISA_riscv64=y
CONFIG_CLINT_MMIO=0x38000000
CONFIG_RV_CBO=y
CONFIG_RV_ZFH=y
CONFIG_RV_ZFA=y
CONFIG_RV_SDTRIG=y
CONFIG_TDATA1_MCONTROL6=y
CONFIG_TRIGGER_NUM=4
CONFIG_RV_AIA=y
CONFIG_RV_IMSIC=y
CONFIG_GEILEN=5
CONFIG_RV_SSTC=y
CONFIG_RV_SMRNMI=y
CONFIG_RV_SMDBLTRP=y
CONFIG_RV_SSDBLTRP=y
CONFIG_RV_CSR_TIME=y
CONFIG_RV_PMP_ENTRY_64=y
CONFIG_RV_PMP_ACTIVE_NUM=32
CONFIG_RV_PMA_ENTRY_32=y
CONFIG_RV_SV48=y
CONFIG_RV_SSNPM=y
CONFIG_RV_SMNPM=y
CONFIG_RV_SMMPM=y
CONFIG_RV_SMCSRIND=y
CONFIG_RV_SMCSRIND_SUB=y
CONFIG_RV_SVNAPOT=y
CONFIG_RV_SVPBMT=y
CONFIG_RV_SSCOFPMF=y
CONFIG_RV_SMCNTRPMF=y
CONFIG_RV_SHLCOFIDELEG=y
CONFIG_RV_SMSTATEEN=y
CONFIG_TVAL_EX_II=y
CONFIG_USE_XS_ARCH_CSRS=y
CONFIG_RV_ZCMOP=y
CONFIG_RV_ZIMOP=y
CONFIG_RV_ZCB=y
CONFIG_RESERVATION_SET_WIDTH=6
CONFIG_RV_ZACAS=y
CONFIG_RV_ZAWRS=y
CONFIG_CC_NATIVE_ARCH=y
# CONFIG_CC_LTO is not set
CONFIG_MSIZE=0x7ff80000000
CONFIG_PADDRBITS=48
CONFIG_STORE_LOG=y
CONFIG_RESET_FROM_MMIO=y
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_MEM_RANDOM is not set
# CONFIG_HAS_VGA is not set
CONFIG_HAS_FLASH=y
CONFIG_FLASH_SIZE=0x100000
CONFIG_AC_NONE=y
# CONFIG_VECTOR_AC_SOFT is not set
