#
# Direct CUTE golden-model shared library
#
CONFIG_ISA_riscv64=y
CONFIG_RVMATRIX=y
CONFIG_RVMATRIX_TLEN=131072
CONFIG_RVMATRIX_TRLEN=1024
CONFIG_RVMATRIX_MLEN=32
CONFIG_RVMATRIX_MSYNC_32=y
CONFIG_ENGINE_INTERPRETER=y
CONFIG_MODE_SYSTEM=y
CONFIG_CC_GCC=y
CONFIG_CC_O2=y
CONFIG_PADDRBITS=48
CONFIG_FPU_SOFT=y
CONFIG_AC_NONE=y
CONFIG_SHARE=y
CONFIG_SHARE_GOLDEN=y
CONFIG_DETERMINISTIC=y
CONFIG_DISABLE_HOST_ALARM=y
CONFIG_RT_CHECK=y
