CONFIG_ISA_riscv64=y
CONFIG_CC_CLANG=y
CONFIG_CC_O3=y
CONFIG_CC_LTO=y
CONFIG_DIFFTEST=y
CONFIG_MSIZE=0x80000000
CONFIG_PC_RESET_OFFSET=0x0
CONFIG_SERIAL_MMIO=0x10000000
# CONFIG_HAS_TIMER is not set
# CONFIG_HAS_KEYBOARD is not set
# CONFIG_HAS_VGA is not set
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_HAS_SDCARD=y
CONFIG_SDCARD_CTL_MMIO=0x10002000
CONFIG_SDCARD_IMG_PATH="/home/yzh/projectn/debian-riscv64-swap.img"
# CONFIG_RT_CHECK is not set
CONFIG_TCACHE_SIZE=65536
CONFIG_BB_LIST_SIZE=8192
CONFIG_BB_POOL_SIZE=8192
