CONFIG_ISA_riscv64=y
CONFIG_PA=y
CONFIG_CC_CLANG=y
CONFIG_CC_O3=y
CONFIG_CC_LTO=y
CONFIG_DIFFTEST=y
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_VGA_SHOW_SCREEN is not set
CONFIG_TCACHE_SIZE=65536
CONFIG_BB_LIST_SIZE=8192
CONFIG_BB_POOL_SIZE=8192
