CONFIG_ISA_riscv64=y
CONFIG_CLINT_MMIO=0x38000000
# CONFIG_RVH is not set
# CONFIG_RVV is not set
CONFIG_USE_XS_ARCH_CSRS=y
CONFIG_MSIZE=0x200000000
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_MEM_RANDOM is not set
CONFIG_MEM_COMPRESS=y
# CONFIG_HAS_SERIAL is not set
CONFIG_HAS_UARTLITE=y
CONFIG_UARTLITE_MMIO=0x40600000
CONFIG_FB_ADDR=0x50000000
CONFIG_VGA_CTL_MMIO=0x40001000
# CONFIG_HAS_AUDIO is not set
# CONFIG_HAS_DISK is not set
CONFIG_SDCARD_CTL_MMIO=0x40002000
CONFIG_FPU_SOFT=y
CONFIG_AC_SOFT=y
# CONFIG_DISABLE_INSTR_CNT is not set
