CONFIG_ISA_riscv64=y
CONFIG_CLINT_MMIO=0x38000000
# CONFIG_RVV is not set
CONFIG_RVH=y
CONFIG_USE_XS_ARCH_CSRS=y
CONFIG_MSIZE=0x200000000
CONFIG_RESET_FROM_MMIO=y
CONFIG_PC_RESET_OFFSET=0x0
# CONFIG_MEM_RANDOM is not set
CONFIG_HAS_FLASH=y
CONFIG_FLASH_SIZE=0x100000
CONFIG_FPU_SOFT=y
CONFIG_AC_SOFT=y
CONFIG_SHARE=y
CONFIG_LARGE_COPY=y
# CONFIG_REPORT_ILLEGAL_INSTR is not set
