CONFIG_ISA_x86=y
CONFIG_PA=y
CONFIG_CC_CLANG=y
CONFIG_CC_O3=y
CONFIG_CC_LTO=y
CONFIG_MBASE=0x00000000
# CONFIG_RT_CHECK is not set
CONFIG_TCACHE_SIZE=65536
CONFIG_BB_LIST_SIZE=8192
CONFIG_BB_POOL_SIZE=8192
# CONFIG_BB_COUNT is not set
# CONFIG_EHELPER_COUNT is not set
