CONFIG_ISA_x86=y
CONFIG_x86_CC_SKIP=y
CONFIG_PA=y
CONFIG_TARGET_SHARE=y
CONFIG_CC_CLANG=y
CONFIG_CC_O3=y
CONFIG_CC_LTO=y
CONFIG_MBASE=0x00000000
# CONFIG_RT_CHECK is not set
# CONFIG_PERF_OPT is not set
