menu "ISA-dependent Options for riscv64"

config CLINT_MMIO
  hex "MMIO address of CLINT"
  default 0xa2000000

config MULTICORE_DIFF
  bool "(Beta) Enable multi-core difftest APIs for RISC-V"
  default false

config RVB
  bool "RISC-V Bitmanip Extension v1.0"
  default y

config RVK
  bool "RISC-V Cryptography Extension v1.0"
  default y

config RVV
  bool "RISC-V Vector Extension v1.0"
  default y

config RV_DEBUG
  bool "RISC-V Debug Extension"
  default y

config RVH
  bool "RISC-V Hypervisor Extension v1.0"
  default n

config RVSDEXT
  bool "(Beta) RISC-V Sdext ISA Extension v1.0"
  depends on RV_DEBUG
  default n

config RVSDTRIG
  bool "(Beta) RISC-V Sdtrig ISA Extension v1.0"
  depends on RV_DEBUG
  default n

config TRIGGER_NUM
  int "Number of supported triggers"
  depends on RVSDTRIG
  default 10

config RV_PMP_CSR
  bool "Enable PMP CSR Read & Write"
  default y

config RV_PMP_NUM
  depends on RV_PMP_CSR
  int "Number of PMP CSR registers"
  default 16
  range 0 16

config PMP_GRANULARITY
  depends on RV_PMP_CSR
  int "PMP granularity"
  default 12

config RV_PMP_CHECK
  # todo: pmp check still not work when enable PERF_OPT
  depends on !PERF_OPT
  depends on RV_PMP_CSR
  bool "Enable PMP Check"
  default y

config RV_SVINVAL
  bool "Enable VM Extension Svinval"
  default y

config MISA_UNCHANGEABLE
  bool "Make misa cannot be changed by CSR write instructions like XS"
  default y

config XTVEC_VECTORED_MODE
  bool "Support Vectored MODE of mtvec/stvec"
  default y

config TVAL_EX_II
  bool "Update m/stval on illegal instruction exceptions"
  default n

config FS_CLEAN_STATE
  bool "XSTATUS.FS has the state of Clean"
  default y

config RV_ARCH_CSRS
  bool "Enable mvendorid, marchid, mimpid CSR"
  default y

config USE_XS_ARCH_CSRS
  depends on RV_ARCH_CSRS
  bool "Use the same arch CSRS values as the implementation of XiangShan"

config MVENDORID_VALUE
  depends on RV_ARCH_CSRS
  depends on !USE_XS_ARCH_CSRS
  hex "Value of CSR mvendorid"
  default 0x0

config MARCHID_VALUE
  depends on RV_ARCH_CSRS
  depends on !USE_XS_ARCH_CSRS
  hex "Value of CSR marchid"
  default 0x0

config MIMPID_VALUE
  depends on RV_ARCH_CSRS
  depends on !USE_XS_ARCH_CSRS
  hex "Value of CSR mimpid"
  default 0x0

config PMPTABLE_EXTENSION
  # PMPTable covers PMPChecker function,
  # close PMPChecker when using PMPTable.
  depends on !PERF_OPT
  depends on !RV_PMP_CHECK
  depends on RV_PMP_CSR
  bool "Enable PMPTable extension"
  default n

config RVV_AGNOSTIC
  depends on RVV
  bool "Enable RVV agnostic policy"
  default y

config EBREAK_AS_TRAP
  depends on !RV_DEBUG
  bool "Treat ebreak same as nemu_trap"
  default n

endmenu
