name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  basic-tests-xs:
    runs-on: nemu
    continue-on-error: false
    timeout-minutes: 10
    name: nemu - Basics for XiangShan
    steps:
      - uses: actions/checkout@v2
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "CI_WORKLOADS=/nfs/home/share/ci-workloads/" >> $GITHUB_ENV
      - name: Build NEMU interpreter for XS
        run: |
          make riscv64-xs_defconfig
          make -j
      - name: test boot linux
        run: |
          # test boot linux
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux-hello-opensbi/fw_payload.bin
          make clean-all
      - name: test cpt taking and restoring using gz format
        run: |
          make riscv64-xs-cpt_defconfig
          make -j
          cd resource/gcpt_restore && make && cd $NEMU_HOME
          # take cpt, and put cpt in output_top/test/linux
          bash ./scripts/take_gz.sh
          # restore cpt
          bash ./scripts/restore_gz.sh
          make clean-all
      - name: test cpt taking and restoring using zstd format
        run: |
          make riscv64-xs-cpt_defconfig
          make -j
          cd resource/gcpt_restore && make && cd $NEMU_HOME
          # take cpt, and put cpt in output_top/test/linux
          bash ./scripts/take_zstd.sh
          # restore cpt
          bash ./scripts/restore_zstd.sh
          make clean-all
      - name: Build NEMU as difftest ref
        run: |
          make riscv64-xs-ref_defconfig
          make -j
          make clean-all
      - name: Build NEMU as difftest dual ref
        run: |
          make riscv64-dual-xs-ref_defconfig
          make -j
          make clean-all
      - name: Build NEMU with RVV
        run: |
          make riscv64-rvv_defconfig
          make -j
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux-hello-opensbi/fw_payload.bin
          make clean-all
      - name: Build NEMU as difftest rvv ref
        run: |
          make riscv64-rvv-ref_defconfig
          make -j
          make clean-all

  basic-tests-nutshell:
    runs-on: nemu
    continue-on-error: false
    timeout-minutes: 10
    name: nemu - Basics for NutShell
    steps:
      - uses: actions/checkout@v2
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "CI_WORKLOADS=/nfs/home/share/ci-workloads/" >> $GITHUB_ENV
      - name: Build NEMU interpreter
        run: |
          make riscv64-nutshell_defconfig
          make -j
      - name: test boot linux
        run: |
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux-hello/bbl.bin
          make clean-all
      - name: Build NEMU as difftest ref
        run: |
          make riscv64-nutshell-ref_defconfig
          make -j
          make clean-all

  H-ext-tests:
    runs-on: nemu
    continue-on-error: false
    name: nemu - H-extension
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "TEST_HOME=/nfs/home/share/ci-workloads/H-extension-tests" >> $GITHUB_ENV
      - name: Build NEMU with H extension as difftest ref
        run: |
          make riscv64-rvh-ref_defconfig
          make -j
          make clean-all
      - name: Run Xvisor
        run: |
          make riscv64-rvh_defconfig
          echo "#define CONFIG_DETERMINISTIC 1" >> ./include/generated/autoconf.h
          make -j
          ./build/riscv64-nemu-interpreter -b $TEST_HOME/xvisor
          make clean-all
      - name: Run KVM
        run: |
          make riscv64-rvh_defconfig
          make -j
          ./build/riscv64-nemu-interpreter -b $TEST_HOME/kvm
          make clean-all
      - name: Run Xvisor with DiffTest
        run: |
          git submodule update --init ready-to-run
          make riscv64-rvh-diff-spike_defconfig
          echo "#define CONFIG_DETERMINISTIC 1" >> ./include/generated/autoconf.h
          make -j
          ./build/riscv64-nemu-interpreter -b -d ./ready-to-run/riscv64-spike-H-ext-so $TEST_HOME/xvisor
          make clean-all
      # - name: Run KVM with DiffTest
      #   run: |
      #     make riscv64-rvh-diff-spike_defconfig
      #     make -j
      #     ./build/riscv64-nemu-interpreter -b -d $TEST_HOME/riscv64-spike-H-ext-so $TEST_HOME/kvm
      #     make clean-all
  
  V-ext-tests:
    runs-on: nemu
    continue-on-error: false
    name: nemu - V-extension
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "TEST_HOME=/nfs/home/share/ci-workloads/V-extension-tests" >> $GITHUB_ENV
      - name: Build NEMU with V extension as difftest ref
        run: |
          make riscv64-rvv-diff-spike_defconfig
          make -j
          make clean-all
      - name: Run Vector-spec06-checkpoint with Spike DiffTest
        run: |
          make riscv64-rvv-diff-spike-ckpt_defconfig
          make -j
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/hmmer_nph3_1886_0.000268086.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/hmmer_retro_6200_0.0378585.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/h264ref_sss_88321_0.0346343.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/h264ref_foreman.baseline_8028_0.0414445.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/h264ref_foreman.main_3027_0.0443573.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/libquantum_41028_0.0840681.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          ./build/riscv64-nemu-interpreter -b --diff $TEST_HOME/riscv64-spike-V-ext-so-vstart --restore $TEST_HOME/bzip2_402_0.00785398.gz -r $TEST_HOME/v-gcpt.bin -I 40000000
          make clean-all
