name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  WORKLOADS_URL: https://github.com/scratch-er/nemu-workloads/releases/download/v1.0.0-alpha/nemu-workloads.zip
  CI_WORKLOADS: ./workloads
  SPIKE_SO: ./ready-to-run/riscv64-spike-so
  NUTSHELL_SPIKE_SO: ./ready-to-run/riscv64-nutshell-spike-so
  CROSS_COMPILE: riscv64-linux-gnu-
  LIBCHECKPOINT_CROSS_COMPILE: riscv64-linux-gnu-
  CPT_CROSS_COMPILE: riscv64-linux-gnu-
  NANOPB_CROSS_COMPILE: riscv64-linux-gnu-

jobs:
  fetch-workloads:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: Fetch and decompress all testing workloads
    steps:
      - name: Cache workloads
        uses: actions/cache@v4
        id: cache-workloads
        with:
          path: ${{ env.CI_WORKLOADS }}
          key: ${{ env.WORKLOADS_URL }}
      - name: Download workloads
        if: steps.cache-workloads.outputs.cache-hit != 'true'
        run:
          wget ${WORKLOADS_URL} -O nemu-workloads.zip
      - name: Decompress workloads
        if: steps.cache-workloads.outputs.cache-hit != 'true'
        run: |
          unzip nemu-workloads.zip
          tar -xf workloads.tar.zstd
          mv images workloads/

  check-configs:
    runs-on: ubuntu-latest
    continue-on-error: false
    name: Check All Configs
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup env
      run: |
        echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
    - name: bump configs
      run: |
        bash ./scripts/bump_configs.sh
    - name: check
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          echo "Please run 'bash ./scripts/bump_configs.sh' manually"
          exit 1
        fi

  compilation-all:
    strategy:
      matrix:
        container-version: ['ubuntu-20.04', 'ubuntu-22.04', 'ubuntu-24.04']
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:${{ matrix.container-version }}
    continue-on-error: false
    name: Compilation - all configs
    timeout-minutes: 60
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup env
      run: |
        echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
    - name: Try to compile
      id: list_configs
      run: |
        bash ./scripts/compilation-test.sh

  basic-xiangshan:
    needs: fetch-workloads
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:ubuntu-24.04
    continue-on-error: false
    timeout-minutes: 10
    name: Basic - XiangShan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CI_WORKLOADS }}
          key: ${{ env.WORKLOADS_URL }}
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Build NEMU interpreter for XS
        run: |
          make riscv64-xs_defconfig
          make -j
      - name: System - linux-hello-opensbi
        run: |
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux/hello/fw_payload.bin
      - name: System - KVM
        run: |
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux/kvmtool/fw_payload.bin
      - name: test cpt taking and restoring using zstd format
        run: |
          make clean-all
          make riscv64-xs-cpt_defconfig
          make -j
          make -C resource/gcpt_restore
          # take cpt, and put cpt in output_top/test/linux
          bash ./scripts/take_zstd.sh ${CI_WORKLOADS}/linux/coremark-pro/fw_payload.bin output_top
          make clean-all

          # restore cpt
          make riscv64-xs-diff-spike_defconfig
          make -j
          bash ./scripts/restore_zstd.sh
          make clean-all

#          make riscv64-xs-cpt-with-flash_defconfig
#          make -j
#          bash ./scripts/take_zstd_into_flash.sh
#          make clean-all

          # restore cpt
#          git submodule update --init --depth=1 ready-to-run
#          make riscv64-xs-diff-spike-withflash_defconfig
#          make gcpt_restore_bin
#          make -j
#          bash ./scripts/restore_zstd_into_flash.sh
#          make clean-all

  basic-nutshell:
    needs: fetch-workloads
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:ubuntu-24.04
    continue-on-error: false
    timeout-minutes: 10
    name: Basic - NutShell
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CI_WORKLOADS }}
          key: ${{ env.WORKLOADS_URL }}
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Build NEMU interpreter
        run: |
          make riscv64-nutshell_defconfig
          make -j
      - name: Replace workload DTB
        run: |
          cd ${CI_WORKLOADS}/linux/hello
          dd conv=notrunc bs=1024 seek=1536 if=dt/nutshell.dtb of=fw_payload.bin
      - name: test boot linux
        run: |
          ./build/riscv64-nemu-interpreter -b ${CI_WORKLOADS}/linux/hello/fw_payload.bin
      - name: Build NEMU interpreter for diff with spike
        run: |
          make clean-all
          make riscv64-nutshell-diff-spike_defconfig
          make -j
      - name: test boot linux with difftest
        run: |
          ./build/riscv64-nemu-interpreter -b --diff ${NUTSHELL_SPIKE_SO} ${CI_WORKLOADS}/linux/hello/fw_payload.bin

  diff-spike-guard:
    # NEMU should report error if RVV agnostic is enabled when comparing against Spike ref; It should crash in the expected way
    runs-on: nemu
    continue-on-error: false
    name: Diff with Spike - Guard
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "TEST_HOME=/nfs/home/share/ci-workloads/V-extension-tests" >> $GITHUB_ENV
      - name: Build NEMU with V extension and agnostic
        run: |
          git submodule update --init --depth=1 ready-to-run
          make clean-all
          make riscv64-xs-diff-spike-agnostic_defconfig
          make -j
          set -x
          ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} $TEST_HOME/hmmer_retro_6200_0.0378585.gz -r $TEST_HOME/v-gcpt.bin -I 2000000 > crash.log  || exit_code=$?
          if [ ${exit_code} -eq 0 ]; then echo "Difftest is broken, it should report error!" exit 1; fi
          match=$(grep "wrong.*=.*ffff" crash.log -c)
          if [ ${match} -eq 0 ]; then echo "Difftest is broken, it should report at least one agnostic related difference!" exit 1; fi
          make clean-all
          set +x

  diff-spike-basic:
    needs: fetch-workloads
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:ubuntu-24.04
    continue-on-error: false
    name: Diff with Spike - Basic & System
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CI_WORKLOADS }}
          key: ${{ env.WORKLOADS_URL }}

      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: Build NEMU interpreter for diff with spike
        run: |
          make riscv64-xs-diff-spike_defconfig
          make -j

      - name: Basic - cputest
        env:
          dir_tests: ${{ env.CI_WORKLOADS }}/am/cputest/bin/
        run: |
          find ${{ env.dir_tests }} -type f | while read -r test_bin; do
            echo ::group::$(basename $test_bin)
            ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${test_bin}
            echo "::endgroup::"
          done

      - name: Basic - riscv-tests
        # failed at rv64mi-p-sd-misaligned.bin
        env:
          dir_tests: ${{ env.CI_WORKLOADS }}/am/riscv-tests/bin/
          skip_tests: |
            rv64mi-p-ld-hd-misaligned.bin
            rv64mi-p-ld-misaligned.bin
            rv64mi-p-lh-hd-misaligned.bin
            rv64mi-p-lh-misaligned.bin
            rv64mi-p-lw-hd-misaligned.bin
            rv64mi-p-lw-misaligned.bin
            rv64mi-p-sd-hd-misaligned.bin
            rv64mi-p-sd-misaligned.bin
            rv64mi-p-sh-hd-misaligned.bin
            rv64mi-p-sh-misaligned.bin
            rv64mi-p-sw-hd-misaligned.bin
            rv64mi-p-sw-misaligned.bin
        run: |
          readarray -t skip_tests_array <<< "$skip_tests"
          find ${{ env.dir_tests }} -type f -name "*.bin" | while read -r test_bin; do
            if [[ " ${skip_tests_array[@]} " =~ " $(basename $test_bin) " ]]; then
              echo "$test_bin skiped."
              continue;
            fi
            echo ::group::$(basename $test_bin)
            ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${test_bin}
            echo "::endgroup::"
          done

      - name: Basic - rvv-test
        env:
          dir_tests: ${{ env.CI_WORKLOADS }}/am/riscv-vector-tests/bin
        run: |
          find ${{ env.dir_tests }} -type f -name "*.bin" | while read -r test_bin; do
            echo ::group::$(basename $test_bin)
            ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${test_bin}
            echo "::endgroup::"
          done

      - name: Basic - misc-tests
        # if: false
        env:
          tests: |
            am/misc-tests/bin/bitmanip.bin
            am/coremark/bin/coremark-riscv64-xs-rv64gc-o2.bin
            am/coremark/bin/coremark-riscv64-xs-rv64gc-o3.bin
            am/coremark/bin/coremark-riscv64-xs-rv64gcb-o3.bin
            am/misc-tests/bin/aliastest-riscv64-xs.bin
            am/misc-tests/bin/softprefetchtest-riscv64-xs.bin
            am/misc-tests/bin/zacas-riscv64-xs.bin
        run: |
          for test_bin in $tests; do
            echo ::group::$test_bin
            ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${CI_WORKLOADS}/${test_bin}
            echo "::endgroup::"
          done

      - name: System - linux
        run: |
          ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${CI_WORKLOADS}/linux/hello/fw_payload.bin

      - name: System - KVM
        run: |
          ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${CI_WORKLOADS}/linux/kvmtool/fw_payload.bin

      # - name: System - KVM
      #   run: |
      #     ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} ${CI_WORKLOADS}/H-extension-tests/kvm

  diff-spike-checkpoint:
    needs: fetch-workloads
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:ubuntu-24.04
    continue-on-error: false
    name: Diff with Spike - Checkpoints
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CI_WORKLOADS }}
          key: ${{ env.WORKLOADS_URL }}


      - name: Setup env
        run: |
          echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: Take checkpoint
        run: |
          make riscv64-xs-cpt_defconfig
          make -j
          bash ./scripts/take_zstd.sh ${CI_WORKLOADS}/linux/coremark-pro/fw_payload.bin checkpoints/coremark-pro
          bash ./scripts/take_zstd.sh ${CI_WORKLOADS}/linux/rvv-bench/fw_payload.bin checkpoints/rvv-bench

      - name: Build NEMU interpreter for diff with spike
        run: |
          make clean-all
          make riscv64-xs-diff-spike_defconfig
          make -j

      - name: Run coremark-pro with Spike DiffTest
        run: |
          ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} $(find checkpoints/coremark-pro/test/linux/50000000 -name "*.zstd") -I 200000000

      - name: Run rvv-bench with Spike DiffTest
        run: |
          ./build/riscv64-nemu-interpreter -b --diff ${SPIKE_SO} $(find checkpoints/rvv-bench/test/linux/50000000 -name "*.zstd") -I 200000000

  compile-difftest-so:
    strategy:
      matrix:
        container-version: ['ubuntu-20.04', 'ubuntu-22.04', 'ubuntu-24.04']
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:${{ matrix.container-version }}
    continue-on-error: false
    name: Compile difftest-so
    timeout-minutes: 30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup env
      run: |
        echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
    - name: compile dynamic libraries
      run: |
        bash ./scripts/generate_so_for_difftest.sh
    - name: archive difftest-so artifacts
      uses: actions/upload-artifact@v4
      with:
        name: difftest-so-${{ matrix.container-version }}
        path: |
          artifact
